.interests__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
}

.interests__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests__icon {
    width: 30px;
    margin-bottom: .25rem;
}

.interests__name {
    text-align: center;
}

@media screen and (min-width: 968px) {
    .interests__container {
        grid-template-columns: repeat(4, max-content);
        column-gap: 3.5rem;
    }
}
